.vnContainer {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.vnPlayer {
  --resolution-height: 1920;
  --resolution-width: 1080;
  overflow: hidden;
  position: relative;
  transform-origin: top left;
}

.vnPlayer:focus {
  outline: none;
}
